<h3>SutekinaBox products request</h3>

<p>Hi MANAGERS ! We choosed the products for our monthly SutekinaBox.</p>

<p>The PROVIDER has sent the products</p>

<p>You can now verify the products</p>

<h4>Box : {{ boxLink(data) | raw }}</h4>
<ul>
    <li>TODO PRODUCT LIST</li>
</ul>

<p>Thanks!</p>

<img src="{{ absolute_url(asset('images/logo.png')) }}">