<h3>SutekinaBox products cancel</h3>

<p>Hi MARKETING ! the products for our monthly SutekinaBox Are not validated by the MANAGER.</p>

<p>You can change the box '{{ boxLink(data) | raw }}' content</p>

<p>Thanks!</p>

<img src="{{ absolute_url(asset('images/logo.png')) }}">