<h3>SutekinaBox products validation</h3>

<p>Hi PROVIDER ! We choosed the products for our monthly SutekinaBox.</p>

<p>This is the list of requested products :</p>


<h4>Box : {{ data.name }}</h4>

<ul>
    <li>TODO PRODUCT LIST</li>
</ul>

<p>Thanks!</p>

<img src="{{ absolute_url(asset('images/logo.png')) }}">