<h3>SutekinaBox box has been sent</h3>

<p>Hi USER ! We just sent your our monthly SutekinaBox {{ data.name }}.</p>

<p>We hope you will be happy !</p>

<h4>Box : {{ data.name }}</h4>

<ul>
    <li>TODO PRODUCT LIST</li>
</ul>

<p>Thanks!</p>

<img src="{{ absolute_url(asset('images/logo.png')) }}">