<!DOCTYPE html>
<html style="overflow: hidden;">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body style="overflow: hidden;">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
