<!--footer-->
<footer class="footer">
    <div class="container">
        <!--All right-->
        <div class="allright">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p> &copy; 2018 <a alt="SutekinaBox" href="{{ path('index') }}">SUTEKINABOX</a>. All rights reserved.</p>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <ul class="list-social-icon list-social-icon-footer">{% include 'components/socialMedia.html.twig' %}</ul>
                </div>
            </div>
        </div>
    </div>
</footer>