<li {% if active == 'index' %}class="current"{% endif %}><a href="{{ path('index') }}">Home</a></li>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

{% if is_granted('ROLE_MEMBER') %}
    <li {% if active == 'box_subscribe' %}class="current"{% endif %}><a href="{{ path('box_subscribe') }}">Box Subscription</a></li>
{% endif %}

<li style="float: right;">
    <a href="{{ path('security_logout') }}">Logout</a>
</li>

{% endif %}

