<h3>SutekinaBox  subscription</h3>

<p>Hi {{ data.lastname }} {{ data.firstname }}! It seems you subscribed to SutekinaBox.</p>

<p>We hope this box will satisfy you.<br/> You will recieve the box each month.</p>

<p>Thanks!</p>

<img src="{{ absolute_url(asset('images/logo.png')) }}">