<h3>SutekinaBox  unsubscription</h3>

<p>Hi {{ data.lastname }} {{ data.firstname }}! It seems you unsubscribed to SutekinaBox.</p>

<p>You can resubscribe when ever you want.</p>

<p>Thanks!</p>

<img src="{{ absolute_url(asset('images/logo.png')) }}">