{% extends 'layout.html.twig' %}

{% block page_title "Member" %}

{% set active = "member" %}

{% block content %}

    MEMBER !

{% if app.request.get('subscribe')=="success" %}
<div class="alert alert-success">
    <p class="text-center"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></p>
    <p class="text-center">Congratulation you successfully subscribed to the SutekinaBox !
        <br>You will received your SutekinaBox each month.</p>
</div>
{% elseif  app.request.get('unsubscribe')=="success" %}
    <div class="alert alert-success">
        <p class="text-center"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></p>
        <p class="text-center">Congratulation you successfully unsubscribed to the SutekinaBox  !
            <br>You can re-subscribe when ever you want</p>
    </div>
{% endif %}

{% endblock %}
